@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #f1f1f1;
    color: #0f141e;
    font: normal 16px 'Roboto', sans-serif;

}
.avatar{
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);

}
.info p{
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;

}
.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}
section{
    display: flex;
    align-items: center;

}
.something{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: space-between;
    align-items: start;
    justify-items: center;
    min-height: 200px;
}
h2{
    text-align: center;
}
.something div{
    height: 155px;
}
a{
    text-decoration: none;
    color: black;
}
.Socials{
    display: flex;
    flex-direction: column;


}
.Skills{
    align-items: center;
    display: flex;
    flex-direction: column;

}
.Works{
    align-items: center;
    display: flex;
    flex-direction: column;

}
.Socials li{
    list-style-type: none;

}
.Socials img{
    width: 50px;
}

.Socials ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
.Works table{
    margin: 16px 0;
}
